@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-azul-iridiscente_125540-1079.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}
h1{
    margin:10px;
    padding:10px;
    font-variant: small-caps;
    
}
h2{
    margin:10px;
    padding:10px
}
img {
    display: flex;
    margin:30px;
    box-shadow: 10px 12px 20px rgb(40, 35, 35);
    

}
ol li{
    margin: 30px;
}


footer{
    display: flex;
    justify-content: center;
   
}